<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>


    

    <h1>Milind Raoasahbe Sangale</h1>
    <h1> <%= 5+5 %> </h1>
    <p>nodemon is a tool that helps develop Node.js based applications by automatically restarting the node application when file changes in the directory are detected.

        nodemon does not require any additional changes to your code or method of development. nodemon is a replacement wrapper for node. To use nodemon, replace the word node on the command line when executing your script.</p>

        <button>Milind sangale</button>
</body>
</html>