<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>






    

    <h2>This is my name:@ <%= username %> </h2>
    <button>Folloe</button>
    <button>Like</button>
    
</body>
</html>