    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
       
    }
    h3 {
        color: #333;
        margin-bottom: 10px;
        font-style: bold;
        font-size: 24px;
        text-align: center;

    }
    .chat {
        background-color: pink;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
        cursor: pointer;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        margin: 10px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease, box-shadow 0.2s ease;


        
    }
    .chat p {
        margin: 5px 0;
        font-size: 14px;
        color: #555;

         
    }

    .chat:hover {
        background-color: #61d5da;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }
    .chat h4 {
        margin: 5px 0;
        font-size: 16px;
        color: #333;
    }

    h3:hover {
        color: #3b11d3;
      
    }

    .btn{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        margin: 10px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease, box-shadow 0.2s ease;



    }

    .btn1{
        background-color: #48a1cd; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        transition-duration: 0.4s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 100px;
        height: 40px;

    }

    .btn1:hover {
        background-color: #3b11d3;
        color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
    }